<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul> 
<% } %>

<form action="/account/update/account" id="updateAccountForm" method="post">
    <fieldset>
        <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
        
        <label for="account_firstname">First Name</label>
        <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.accountData.account_firstname %>">
        
        <label for="account_lastname">Last Name</label>
        <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.accountData.account_lastname %>">
        
        <label for="account_email">Email</label>
        <input type="email" id="account_email" name="account_email" required value="<%= locals.accountData.account_email %>">
        
        <button type="submit">Update Personal Information</button>
    </fieldset>
</form>

<form action="/account/update/password" id="updatePasswordForm" method="post">
    <fieldset>
        <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
        
        <label for="account_password">Password</label>
        <input type="password" id="account_password" name="account_password" required>
        
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        
        <button type="submit">Update Password</button>
    </fieldset>
</form>
