<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul> 
<% } %>

<form action="/account/update" id="updateForm" method="post">
    <fieldset>
        <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
        
        <label for="account_firstname">First Name</label>
        <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.accountData.account_firstname %>">
        
        <label for="account_lastname">Last Name</label>
        <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.accountData.account_lastname %>">
        
        <label for="account_email">Email</label>
        <input type="email" id="account_email" name="account_email" required value="<%= locals.accountData.account_email %>">
        
        <label for="account_password">Password</label>
        <input type="password" id="account_password" name="account_password" required>
        
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <label for="account_type">Account Type</label>
        <select id="account_type" name="account_type">
            <option value="Client" <%= locals.accountData.account_type === 'Client' ? 'selected' : '' %>>Client</option>
            <option value="Employee" <%= locals.accountData.account_type === 'Employee' ? 'selected' : '' %>>Employee</option>
            <option value="Admin" <%= locals.accountData.account_type === 'Admin' ? 'selected' : '' %>>Admin</option>
        </select>
        
        <button type="submit">Update Account</button>
    </fieldset>
</form>
