<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul> 
    <% } %>

    <form action="/inv/delete/" method="post">
        <fieldset>
            <label>Make 
                <input type="text" id="make" name="inv_make" required value="<%= locals.inv_make %>"
                pattern="[a-zA-Z0-9\s_-]+" title="Please enter a valid make" readonly></label>
            <label>Model 
                <input type="text" id="model" name="inv_model" required value="<%= locals.inv_model %>"
                pattern="[a-zA-Z0-9\s_-]+" title="Please enter a valid model" readonly></label>
            <label>Price 
                <input type="number" id="price" name="inv_price" required value="<%= locals.inv_price %>"
                step="0.01" min="0.01" readonly></label>
            <label>Year
                <input type="number" id="year" name="inv_year" required value="<%= locals.inv_year || 2024 %>"
                pattern="\d{4}" title="Please enter a valid year (four digits)" readonly></label>
            <p>Confirm Deletion - The delete is permanent</p>
            <button type="submit">Delete Vehicle</button>
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
        </fieldset>
    </form>